# Docker
DOCKER_PLATFORM=linux/x86_64
COMPOSE_PROJECT_NAME=bifrost-infra

# igloo-server
IGLOO_SERVER_PORT=8002
IGLOO_SERVER_MODE=dev
IGLOO_SERVER_HEADLESS=false
IGLOO_SERVER_AUTH_ENABLED=false
IGLOO_SERVER_RATE_LIMIT_ENABLED=false
IGLOO_SERVER_ADMIN_SECRET=change-me
IGLOO_SERVER_API_KEY=dev-local-key

# igloo-web
IGLOO_WEB_MODE=dev
IGLOO_WEB_PORT=5173
VITE_IGLOO_SERVER_URL=http://localhost:8002

# igloo-cli
IGLOO_CLI_MODE=dev
